<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.itrip.mapper.CartsMapper">
	<select id="getCartsQuery" resultType="org.itrip.pojo.Year">
		select distinct((select count(id) from `order` where checkInDate BETWEEN #{one1} and #{one})) as 'one',
		(select count(id) from `order` where checkInDate BETWEEN #{tow1} and #{tow}) as 'tow',
		(select count(id) from `order` where checkInDate BETWEEN #{three1} and #{three}) as 'three',
		(select count(id) from `order` where checkInDate BETWEEN #{four1} and #{four}) as 'four',
		(select count(id) from `order` where checkInDate BETWEEN #{five1} and #{five}) as 'five',
		(select count(id) from `order` where checkInDate BETWEEN #{six1} and #{six}) as 'six',
		(select count(id) from `order` where checkInDate BETWEEN #{seven1} and #{seven}) as 'seven',
		(select count(id) from `order` where checkInDate BETWEEN #{eight1} and #{eight}) as 'eight',
		(select count(id) from `order` where checkInDate BETWEEN #{nine1} and #{nine}) as 'nine',
		(select count(id) from `order` where checkInDate BETWEEN #{ten1} and #{ten}) as 'ten',
		(select count(id) from `order` where checkInDate BETWEEN #{eleven1} and #{eleven}) as 'eleven',
		(select count(id) from `order` where checkInDate BETWEEN #{twelve1} and #{twelve}) as 'twelve'
		from `order`
	</select>
	<select id="getCartsQueryPrice" resultType="org.itrip.pojo.Year">
		select distinct((select sum(payAmount) from `order` where checkInDate BETWEEN #{one1} and #{one})) as 'one',
		(select sum(payAmount) from `order` where checkInDate BETWEEN #{tow1} and #{tow}) as 'tow',
		(select sum(payAmount) from `order` where checkInDate BETWEEN #{three1} and #{three}) as 'three',
		(select sum(payAmount) from `order` where checkInDate BETWEEN #{four1} and #{four}) as 'four',
		(select sum(payAmount) from `order` where checkInDate BETWEEN #{five1} and #{five}) as 'five',
		(select sum(payAmount) from `order` where checkInDate BETWEEN #{six1} and #{six}) as 'six',
		(select sum(payAmount) from `order` where checkInDate BETWEEN #{seven1} and #{seven}) as 'seven',
		(select sum(payAmount) from `order` where checkInDate BETWEEN #{eight1} and #{eight}) as 'eight',
		(select sum(payAmount) from `order` where checkInDate BETWEEN #{nine1} and #{nine}) as 'nine',
		(select sum(payAmount) from `order` where checkInDate BETWEEN #{ten1} and #{ten}) as 'ten',
		(select sum(payAmount) from `order` where checkInDate BETWEEN #{eleven1} and #{eleven}) as 'eleven',
		(select sum(payAmount) from `order` where checkInDate BETWEEN #{twelve1} and #{twelve}) as 'twelve'
		from `order`
	</select>
</mapper>