<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.itrip.mapper.UserMapper">
	
	<resultMap id="BaseResultMap" type="org.itrip.pojo.User">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="username" property="username"
			jdbcType="VARCHAR" /> 
		<result column="password" property="password"
			jdbcType="VARCHAR" />
	</resultMap>
	<!-- 数据库字段 -->
	<sql id="Base_Column_List">
		id, name, phone,pwd,sex,birthday,email,address,status
	</sql>
	<!-- 用户查询 -->
	<select id="queryUserList" resultType="org.itrip.pojo.User">
		select
		id,name,phone,sex,status 
		from user where status = 0 order by id desc limit #{pageNo},#{pageSize}
	</select>

	<!-- 后台登录 -->
	<select id="loginUser" resultType="org.itrip.pojo.User">
		select
		<include refid="Base_Column_List" />
		from user where phone=#{phone} and pwd=#{pwd} and status = 0
	</select>

	<!-- 删除单个用户 -->
	<delete id="deleteUser">
		update `user` set `delete` = 1 where id=#{id}
	</delete>

	<!-- 删除多个用户 -->
	<delete id="deleteUserList" parameterType="int">
		update `user` set `delete` = 1 where id in
		<foreach item="id" collection="array" open="(" separator=","
			close=")">
			#{id}
		</foreach>
	</delete>
	<!-- 数据总和 -->
	<select id="countUser" resultType="int">
		select COUNT(id) from user where status = 0
	</select>

	<insert id="insertUser" parameterType="org.itrip.pojo.User">
		INSERT INTO user(`id`,`name`,`phone`, `pwd`,`sex`,`status`) VALUES
		(null,#{name},#{phone},#{pwd},#{sex},#{status});
	</insert>

	<update id="updateUser" parameterType="org.itrip.pojo.User">
		UPDATE user SET name=#{name},phone=#{phone},pwd=#{pwd},sex=#{sex},status=#{status} WHERE id=#{id};
	</update>
	
	<select id="countUsers" resultType="int">
		select COUNT(id) from user where status =1 and `delete` = 0
	</select>


	<select id="updateUserid" resultType="org.itrip.pojo.User">
		SELECT * from user where id=#{id}
	</select>

	<update id="changePasswordpwd" parameterType="org.itrip.pojo.User">
		UPDATE user SET pwd=#{pwd} WHERE  id=#{id}
	</update>

	
	<update id="updateUserUser" parameterType="org.itrip.pojo.User">
		UPDATE user SET name=#{name},phone=#{phone},
		pwd=#{pwd},sex=#{sex},
		idcard=#{idcard},
		email=#{email},
		address=#{address} WHERE id=#{id};
	</update>



	<select id="memberUserid" resultType="org.itrip.pojo.User">
		SELECT id,name,pwd from user where id=#{id}
	</select>

	<insert id="addUser" parameterType="org.itrip.pojo.User">
		INSERT INTO user(`id`,`name`, `phone`,`pwd`,`idcard`, `sex`,`birthday`,`email`, `address`) VALUES
		(null,#{name},#{phone},#{pwd},#{idcard},#{sex},#{birthday},#{email},#{address});
	</insert>

	<select id="memberUser" resultType="org.itrip.pojo.User">
		select * from user where status = 1 and `delete` = 0  order by id desc
	</select>


		<select id="queryUser" resultType="org.itrip.pojo.User">
			SELECT * FROM user WHERE status =1 
			<if test="_query11 != null and _query11 != ''">
			 and name LIKE CONCAT ('%',#{_query11},'%') or
	 			   phone LIKE CONCAT ('%',#{_query11},'%') or
					  email LIKE CONCAT ('%',#{_query11},'%')
			</if>
				
	</select>
	<select id="queryUpdate" resultType="org.itrip.pojo.User">
		select id,name,phone,pwd,sex,status from user
		where id=#{id}
	</select>
	
	<!-- 条件查询删除用户 -->
	<select id="queryDelList" resultType="org.itrip.pojo.User">
		 select `id`, `name`,`phone`,`pwd`, `idcard`, `sex`, `birthday`, `email`, `address`, `status`, `delete` from user
         where `delete` =1		
		 <if test="datemin !='' and datemin !=null">
			and birthday>=#{datemin}
		</if>
		<if test="datemax !='' and datemax !=null" >
		 	and birthday &lt;= #{datemax}
		</if>
		<if test="elist !='' and elist !=null" >
		 	and name LIKE CONCAT ('%',#{elist},'%')
		</if>	
	</select>
	<select id="countDelUser" resultType="int">
		select COUNT(id) from user where `delete` =1
	</select>
	<!--还原删除用户-->
	<update id="updateDalUpdate" parameterType="org.itrip.pojo.User">
	UPDATE user SET `delete`=0 WHERE id=#{id};
	</update>
	
	<!-- 彻底删除单个用户 -->
	<delete id="deleteDel">
		delete from user where id=#{id}
	</delete>

	<!-- 彻底删除多个用户 -->
	<delete id="deleteDelList" parameterType="int">
		delete from user where id in
		<foreach item="id" collection="array" open="(" separator=","
			close=")">
			#{id}
		</foreach>
	</delete>
</mapper>